<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>

</head>
<body
  style="background-color:#e4d3ce";
>
    <h1 align="center" style="color:#7a9d8e;font-family:georgia;font-size:300%;font-style:italic;">hello</h1>
    <h1 align="center" style="color:#7a9d8e;font-family:georgia;font-size:150%;font-style:italic;">My name is {{name}} </h1>
    <center>
    <p></p>
    <article align="center" style="font-family:georgia;font-style:italic,oblique;color:#887a6b;"> Currently studying in {{ major }} major</article>
    <article align"center" style = "font-family:georgia;font-style:italic,oblique;color:#887a6b;"> {{univ}}</article>
    <article align="center" style="font-family:georgia;font-style:italic,oblique;color:#887a6b;">NPM : {{ npm }}</article>
    <article align="center" style="font-family:georgia;font-style:italic,oblique;color:#887a6b;">I am {{ age }} years old</article>
    <article align="center" style="font-family:georgia;font-style:italic,oblique;color:#887a6b;">{{ description }}</article>
    <p></p>
    <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/41261924_2606314632715681_3784973194121707520_n.jpg?_nc_cat=0&oh=85cbac07c88b506b1a88b4008a28661d&oe=5C333A31" align="center" alt="myphoto"
    style= "width:300px;height:300px;border-radius:50%">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h1 align="center" style="color:#7a9d8e;font-family:georgia;font-size:150%;font-style:italic;">right friend's profile</h1>
    <h1 align="center" style="color:#7a9d8e;font-family:georgia;font-size:300%;font-style:italic;">bonjour</h1>
    <h1 align="center" style="color:#7a9d8e;font-family:georgia;font-size:150%;font-style:italic;">My name is {{fivi_name}} </h1>
    <center>
    <p></p>

    <article align="center" style="font-family:georgia;font-style:italic,oblique;color:#887a6b;"> Currently studying in {{ fivi_major }} major</article>
    <article align"center" style = "font-family:georgia;font-style:italic,oblique;color:#887a6b;"> {{fivi_univ}}</article>
    <article align="center" style="font-family:georgia;font-style:italic,oblique;color:#887a6b;">NPM : {{ fivi_npm }}</article>
    <article align="center" style="font-family:georgia;font-style:italic,oblique;color:#887a6b;">I am {{ fivi_age }} years old</article>
    <article align="center" style="font-family:georgia;font-style:italic,oblique;color:#887a6b;">{{ fivi_description }}</article>
    <p></p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYNiV5CRnP_XOnvViKR7IZDGwobJI_rGSm_KFxP2wyhOWHXhX33Q" align="center" alt="myphoto"
    style= "width:300px;height:300px;border-radius:50%">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h1 align="center" style="color:#7a9d8e;font-family:georgia;font-size:150%;font-style:italic;">left friend's profile</h1>
    <h1 align="center" style="color:#7a9d8e;font-family:georgia;font-size:300%;font-style:italic;">hi</h1>
    <h1 align="center" style="color:#7a9d8e;font-family:georgia;font-size:150%;font-style:italic;">My name is {{caca_name}} </h1>
    <center>
    <p></p>
    <article align="center" style="font-family:georgia;font-style:italic,oblique;color:#887a6b;"> Currently studying in {{ caca_major }} major</article>
    <article align"center" style = "font-family:georgia;font-style:italic,oblique;color:#887a6b;"> {{caca_univ}}</article>
    <article align="center" style="font-family:georgia;font-style:italic,oblique;color:#887a6b;">NPM : {{ caca_npm }}</article>
    <article align="center" style="font-family:georgia;font-style:italic,oblique;color:#887a6b;">I am {{ caca_age }} years old</article>
    <article align="center" style="font-family:georgia;font-style:italic,oblique;color:#887a6b;">{{ caca_description }}</article>
    <p></p>
    <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/29028031_1228015937330953_2639126544328425472_n.jpg?_nc_cat=0&oh=f38ec21b788e2226c2e48ff7f72a7426&oe=5BF11766"
    style= "width:300px;height:300px;border-radius:50%">

</body>
</html>
